.shopping-now {
    padding: 5px;
    height: 35px;
    width: 200px;
    color: #272727;
    text-decoration: none;
    text-align: center;
    border: 1px solid #272727;
    border-radius: 14px;
  }
  .sub-tile {
    color: #272727;
    font-family: Almarai;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
  }